body {
  background-color: #F5F5F5;
  font-family: 'Ubuntu', sans-serif;
}

#main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main-box {
  background-color: #fff;
}

#main-box h4 {
  color: #364152;
}

#main-box button {
  background-color: #3C4B64;
  color: #fff;
}

#register-link {
  margin-right: 5px;
}

@media (max-width: 575.98px) { 
  #message-alert {
    max-width: 100%;
    width: 390px;
  }
}

@media (min-width: 576px) {
  #message-alert {
    max-width: 100%;
    width: 394px;
  }
}

@media (min-width: 768px) { 
  #message-alert {
    max-width: 100%;
    width: 394px;
  }
}


@media (min-width: 992px) { 
  #message-alert {
    max-width: 100%;
    width: 388px;
  }
}

@media (min-width: 1200px) { 
  #message-alert {
    max-width: 100%;
    width: 460px;
  }
}

@media (min-width: 1400px) {  
  #message-alert {
    max-width: 100%;
    width: 426px;
  }
}