<!doctype html>
<html class="no-js" lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>News Notícias </title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="manifest" href="site.webmanifest">
  <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">

  <!-- CSS here -->
  <link rel="stylesheet" href="/news/css/bootstrap.min.css">
  <link rel="stylesheet" href="/news/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/news/css/ticker-style.css">
  <link rel="stylesheet" href="/news/css/flaticon.css">
  <link rel="stylesheet" href="/news/css/slicknav.css">
  <link rel="stylesheet" href="/news/css/animate.min.css">
  <link rel="stylesheet" href="/news/css/magnific-popup.css">
  <link rel="stylesheet" href="/news/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="/news/css/themify-icons.css">
  <link rel="stylesheet" href="/news/css/slick.css">
  <link rel="stylesheet" href="/news/css/nice-select.css">
  <link rel="stylesheet" href="/news/css/style.css">
  <link rel="stylesheet" href="/news/css/lastedNews.css">  
</head>

<body>