<%- include('../../partials/news/header.ejs'); -%>

  <!-- Preloader Start -->
  <div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
      <div class="preloader-inner position-relative">
        <div class="preloader-circle"></div>
        <div class="preloader-img pere-text">
          <img src="/img/logo/logo.png" alt="">
        </div>
      </div>
    </div>
  </div>

  <header>

    <div class="header-area">
      <div class="main-header "> 

        <div class="header-mid gray-bg">
          <div class="container">
            <div class="row d-flex align-items-center">
              <!-- Logo -->
              <div class="col-xl-3 col-lg-3 col-md-3 d-none d-md-block">
                <div class="logo">
                  <a href="index.html"><img src="/img/logo/logo.png" alt=""></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <%- include('../../partials/news/navbar.ejs'); -%>
        
      </div>
    </div>
    <!-- Header End -->
  </header>

  <main>
    <div class="trending-area fix pt-25 gray-bg">
      <div class="container">
        <div class="trending-main">
          <div class="row">
            <div class="col-lg-12">
              <!-- Trending Top -->
              <div class="slider-active">

                <!-- Single -->
                <div class="single-slider">
                  <div class="trending-top mb-30">
                    <div class="trend-top-img">
                      <img src="/img/trending/trending_top2.jpg" alt="">
                      <div class="trend-top-cap">
                        <h2>
                          <a href="latest_news.html" data-animation="fadeInUp" data-delay=".4s"
                            data-duration="1000ms">Anna Lora Stuns In White At Her Australian Premiere</a>
                          </h2>
                        <p data-animation="fadeInUp" data-delay=".6s" data-duration="1000ms">by Alice cloe - Jun 19,
                          2020</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Single -->

                <div class="single-slider">
                  <div class="trending-top mb-30">
                    <div class="trend-top-img">
                      <img src="/img/trending/trending_top02.jpg" alt="">
                      <div class="trend-top-cap">
                        <span class="bgr" data-animation="fadeInUp" data-delay=".2s"
                          data-duration="1000ms">Business</span>
                        <h2><a href="latest_news.html" data-animation="fadeInUp" data-delay=".4s"
                            data-duration="1000ms">Anna Lora Stuns In White At Her Australian Premiere</a></h2>
                        <p data-animation="fadeInUp" data-delay=".6s" data-duration="1000ms">by Alice cloe - Jun 19,
                          2020</p>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Single -->
                <div class="single-slider">
                  <div class="trending-top mb-30">
                    <div class="trend-top-img">
                      <img src="/img/trending/trending_top03.jpg" alt="">
                      <div class="trend-top-cap">
                        <span class="bgr" data-animation="fadeInUp" data-delay=".2s"
                          data-duration="1000ms">Business</span>
                        <h2><a href="latest_news.html" data-animation="fadeInUp" data-delay=".4s"
                            data-duration="1000ms">Anna Lora Stuns In White At Her Australian Premiere</a></h2>
                        <p data-animation="fadeInUp" data-delay=".6s" data-duration="1000ms">by Alice cloe - Jun 19,
                          2020</p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <section class="whats-news-area pt-50 pb-20 gray-bg">
      <div class="container">
        <div class="row">

          <div class="col-lg-12 mb-2">
            <div class="whats-news-wrapper">              
              <div class="whats-right-single mb-20">
                <div class="whats-right-img">
                  <img src="/img/Street-Fighter-6.jpg" alt="">
                </div>
                <div class="whats-right-cap">
                  <div class="d-flex flex-column">
                    <h4 class="text-dark">Street Fighter 6 permitirá download separado de cada um dos seus modos</h4>
                    <span class="d-flex flex-row">
                      <p class="mr-5">Diones</p>
                      <p>Jun 19, 2020</p>
                    </span>
                  </div>
                  <h4>
                    <a href="latest_news.html">
                      A Capcom já abriu uma página oficial de Street Fighter 6 dentro da Loja Xbox e algumas informações curiosas
                      já começaram a serem disponibilizadas ao público. Uma delas é a possibilidade de você poder fazer o download
                      de forma separada dos modos Battle Hub, World Tour e Fighting Ground - ou seja, você pode baixar apenas o necessário
                      para poder se divertir, deixando o restante de lado caso seja a sua preferência.
                    </a>
                  </h4>                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12 mb-2">
            <div class="whats-news-wrapper">              
              <div class="whats-right-single mb-20">
                <div class="whats-right-img">
                  <img src="/img/Street-Fighter-6.jpg" alt="">
                </div>
                <div class="whats-right-cap">
                  <div class="d-flex flex-column">
                    <h4 class="text-dark">Street Fighter 6 permitirá download separado de cada um dos seus modos</h4>
                    <span class="d-flex flex-row">
                      <p class="mr-5">Diones</p>
                      <p>Jun 19, 2020</p>
                    </span>
                  </div>
                  <h4>
                    <a href="latest_news.html">
                      A Capcom já abriu uma página oficial de Street Fighter 6 dentro da Loja Xbox e algumas informações curiosas
                      já começaram a serem disponibilizadas ao público. Uma delas é a possibilidade de você poder fazer o download
                      de forma separada dos modos Battle Hub, World Tour e Fighting Ground - ou seja, você pode baixar apenas o necessário
                      para poder se divertir, deixando o restante de lado caso seja a sua preferência.
                    </a>
                  </h4>                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12 mb-2">
            <div class="whats-news-wrapper">              
              <div class="whats-right-single mb-20">
                <div class="whats-right-img">
                  <img src="/img/Street-Fighter-6.jpg" alt="">
                </div>
                <div class="whats-right-cap">
                  <div class="d-flex flex-column">
                    <h4 class="text-dark">Street Fighter 6 permitirá download separado de cada um dos seus modos</h4>
                    <span class="d-flex flex-row">
                      <p class="mr-5">Diones</p>
                      <p>Jun 19, 2020</p>
                    </span>
                  </div>
                  <h4>
                    <a href="latest_news.html">
                      A Capcom já abriu uma página oficial de Street Fighter 6 dentro da Loja Xbox e algumas informações curiosas
                      já começaram a serem disponibilizadas ao público. Uma delas é a possibilidade de você poder fazer o download
                      de forma separada dos modos Battle Hub, World Tour e Fighting Ground - ou seja, você pode baixar apenas o necessário
                      para poder se divertir, deixando o restante de lado caso seja a sua preferência.
                    </a>
                  </h4>                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12 mb-2">
            <div class="whats-news-wrapper">              
              <div class="whats-right-single mb-20">
                <div class="whats-right-img">
                  <img src="/img/Street-Fighter-6.jpg" alt="">
                </div>
                <div class="whats-right-cap">
                  <div class="d-flex flex-column">
                    <h4 class="text-dark">Street Fighter 6 permitirá download separado de cada um dos seus modos</h4>
                    <span class="d-flex flex-row">
                      <p class="mr-5">Diones</p>
                      <p>Jun 19, 2020</p>
                    </span>
                  </div>
                  <h4>
                    <a href="latest_news.html">
                      A Capcom já abriu uma página oficial de Street Fighter 6 dentro da Loja Xbox e algumas informações curiosas
                      já começaram a serem disponibilizadas ao público. Uma delas é a possibilidade de você poder fazer o download
                      de forma separada dos modos Battle Hub, World Tour e Fighting Ground - ou seja, você pode baixar apenas o necessário
                      para poder se divertir, deixando o restante de lado caso seja a sua preferência.
                    </a>
                  </h4>                  
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

  </main>

  <%- include('../../partials/news/footer.ejs'); -%>

</html>