<%- include('header'); -%>

<div class="header-bottom header-sticky">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-8 col-lg-8 col-md-12 header-flex">
        <!-- sticky -->
        <div class="sticky-logo">
          <a href="index.html"><img src="/img/logo/logo.png" alt=""></a>
        </div>
        <!-- Main-menu -->
        <div class="main-menu d-none d-md-block">
          <nav>
            <ul id="navigation">
              <li><a href="/">Home</a></li>
              <li><a href="/lastedNews">Últimas notícias</a></li>
              <li><a href="/about">Sobre</a></li>
              <li><a href="/contact">Contato</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <!-- Mobile Menu -->
      <div class="col-12">
        <div class="mobile_menu d-block d-md-none"></div>
      </div>
    </div>
  </div>
</div>
