<footer class="footer">
  <div>News © 2023.</div>
  <div class="ms-auto">Powered by&nbsp;News</div>
</footer>
</div>

<!-- CoreUI and necessary plugins-->
<script src="/admin/vendors/@coreui/coreui/js/coreui.bundle.min.js"></script>
<script src="/admin/vendors/simplebar/js/simplebar.min.js"></script>
<!-- Plugins and scripts required by this view-->
<script src="/admin/vendors/chart.js/js/chart.min.js"></script>
<script src="/admin/vendors/@coreui/chartjs/js/coreui-chartjs.js"></script>
<script src="/admin/vendors/@coreui/utils/js/coreui-utils.js"></script>
<script src="js/main.js"></script>
<script src="/admin/js/aprove.js"></script>
<script>
</script>

</body>
</html>